In [1]:
import pandas as pd

In [2]:
cast = pd.read_csv('E:/cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [9]:
cast["title"].nunique()

172294

### What are the earliest two films listed in the titles dataframe?

In [5]:
cast["title"].head(2)

0     Closet Monster
1    Suuri illusioni
Name: title, dtype: object

### How many movies have the title "Hamlet"?

In [23]:
cast['Hamlet'==cast['title']]['title'].count()

313

### How many movies are titled "North by Northwest"?

In [24]:
cast['North by Northwest'==cast['title']]['title'].count()

112

### When was the first movie titled "Hamlet" made?

In [66]:
cast[cast['title']=='Hamlet']['year'].sort_values().iloc[0]

1910

In [58]:
cast.sort_values(by=['year'])

,title,year,name,type,character,n
2514470,Miss Jerry,1894,Blanche Bayliss,actress,Miss Geraldine Holbrook (Miss Jerry),NaN
555929,Miss Jerry,1894,Chauncey Depew,actor,Himself - the Director of the New York Central...,NaN
464860,Miss Jerry,1894,William Courtenay,actor,Mr. Hamilton,NaN
1718214,Soldiers of the Cross,1900,Reg Perry,actor,Lion,NaN
1718063,Soldiers of the Cross,1900,Orrie Perry,actor,Lion,NaN
...,...,...,...,...,...,...
2756653,The Supreme Gentleman,2023,Erika Etzelmiller,actress,Hot Chick #1,NaN
28489,Inside Me,2023,Antonio Alcala,actor,Max,NaN
2800939,Gnome Alone,2023,Becky G.,actress,Chlo?,NaN
3592140,Fetish Trap,2023,Karen Yamileth,actress,Attorney Allison Peterson,NaN
1697058,Inside Me,2023,Natalee Paul,actor,Lucy,NaN

### List all of the "Treasure Island" movies from earliest to most recent.

In [63]:
cast['Treasure Island'== cast['title']][['title','year']].sort_values('year').drop_duplicates()

                   title  year
830114   Treasure Island  1918
1638400  Treasure Island  1920
883644   Treasure Island  1934
1621048  Treasure Island  1950
734564   Treasure Island  1972
2112778  Treasure Island  1973
1964780  Treasure Island  1985
3245250  Treasure Island  1999

### How many movies were made in the year 1950?

In [73]:
cast[cast['year']==1950]['title'].count()

22006

### How many movies were made in the year 1960?

In [78]:
cast[cast['year']==1960]['title'].count()

18456

### How many movies were made from 1950 through 1959?

In [7]:
cast[(cast['year']>=1950) & (cast['year']<=1959)].sort_values("year")['title'].count()

210986

### In what years has a movie titled "Batman" been released?

In [9]:
cast[cast['title']=='Batman']['year'].sort_values().drop_duplicates()

95672      1943
2380590    1989
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [16]:
cast[cast['title']=='Inception']['character'].count()

77

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [47]:
cast[(cast['title']=='Inception')& (cast['n'].isnull())]['character'].count()

26

### But how many roles in the movie "Inception" did receive an "n" value?

In [55]:
cast[(cast['title']=='Inception') &(cast['n'].notnull())]['character'].count()

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [61]:
d=cast[(cast['title']=='North by Northwest')& (cast['n'].notnull())]
d.sort_values(by='n')

,title,year,name,type,character,n
840374,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3361396,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1404704,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3024085,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
343701,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2923056,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1634552,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1229083,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2357939,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1746383,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
642085,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2212083,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
447893,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1454363,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
198496,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1334726,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [65]:
cast[(cast['title']=='Sleuth')& (cast['year']==1972)].sort_values(by="n")

,title,year,name,type,character,n
1644328,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
314691,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
360365,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1412647,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2619278,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1396572,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [69]:
cast[(cast['title']=='Sleuth')&(cast['year']==2007)].sort_values(by='n')

          title  year                 name     type          character    n
314692   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1246855  Sleuth  2007             Jude Law    actor               Milo  2.0
1741124  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
250297   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
360366   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2619277  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3223502  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [76]:
cast[(cast['year']==1921) & (cast['title']=='Hamlet')]['type'].count()

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [94]:
cast[(cast['title']=='Hamlet') & (cast['year']==1996)]['character'].count()

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [8]:
cast[cast['character']=='Hamlet'].notnull()['character'].count()

91

### How many people have played an "Ophelia"?

In [13]:
cast[cast['character']=='Ophelia']['name'].count()

111

### How many people have played a role called "The Dude"?

In [15]:
cast[cast['character']=='The Dude']['name'].count()

18

### How many people have played a role called "The Stranger"?

In [16]:
cast[cast['character']=='The Stranger']['name'].count()

208

### How many roles has Sidney Poitier played throughout his career?

In [19]:
cast[cast['name']=='Sidney Poitier']['name'].count()

43

### How many roles has Judi Dench played?

In [20]:
cast[cast['name']=='Judi Dench']['name'].count()

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [28]:
d=cast[(cast['name']=='Cary Grant')&(cast['year']==1940)]
d[d['n']==2]

                   title  year        name   type character    n
840371  My Favorite Wife  1940  Cary Grant  actor      Nick  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [30]:
cast[(cast['name']=='Cary Grant')&(cast['year']==1940)]

,title,year,name,type,character,n
840353,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
840371,My Favorite Wife,1940,Cary Grant,actor,Nick,2.0
840397,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
840399,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0

### How many roles were available for actors in the 1950s?

In [35]:
cast[(cast['type']=='actor')&(cast['year']==1950)]['type'].count()

16512

### How many roles were available for actresses in the 1950s?

In [38]:
cast[(cast['type']=='actress')&(cast['year']==1950)]['type'].count()

5494

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [50]:
cast[(cast['year']>=1980)&(cast['n']==1)].sort_values(by=['year'])['character'].count()

84264

### How many non-leading roles were available through from the beginning of film history through 1980?

In [57]:
cast[(cast['year']>=1980)&(cast['n']!=1)].sort_values(by=['year'])['character'].count()

2391035

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [56]:
cast[(cast['year']>=1980)&(cast['n'].isnull())].sort_values(by=['year'])['character'].count()

945383